@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@400;800&display=swap"); */

/* body {
  font-family: "Open Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  @apply font-sans bg-gray-extralight text-gray-dark;
}

.alert {
  @apply mb-4 p-2 text-sm rounded border;
}

.alert-success {
  @apply text-green bg-green-light border-green-medium;
}

.alert-error {
  @apply text-red bg-red-light border-red-medium;
}

.alert-info {
  @apply text-blue bg-blue-light border-blue-medium;
}

.card {
  @apply rounded bg-white;
}

.outline-card {
  @apply rounded bg-white;
}

.outline-card:hover {
  @apply drop-shadow-lg transition duration-300;
}

.title-page {
  @apply font-poppins font-extrabold italic text-9xl text-gray-light -ml-4 -mt-32 mb-8 uppercase;
}

.title-feature {
  @apply mb-2 text-xl text-gray-light;
}

.title-section {
  @apply mb-4 uppercase font-bold;
}

.nav-item {
  @apply text-sm uppercase transition-opacity duration-300 hover:opacity-60;
}

.nav-main .nav-item {
  @apply font-bold;
}

.cart-count {
  @apply px-2 py-1 ml-2 rounded bg-gray-light text-white;
}

.cart h4,
.order h4,
.order h5 {
  @apply text-sm mb-4;
}

.cart-data-title,
.order-data-title {
  @apply block uppercase text-sm text-gray-light;
}

.order-items thead td,
.cart-items thead td {
  @apply pt-0 uppercase text-sm text-gray-light;
}

.order-items td,
.cart-items td {
  @apply py-4 border-b border-gray-light;
}

.button {
  @apply block px-8 py-2 rounded uppercase font-bold text-white bg-gray transition-opacity duration-300 hover:opacity-60;
}

.button-outline {
  @apply bg-white border border-gray-light text-gray-light;
}

.button-circle {
  @apply rounded-full p-0 w-8 leading-8;
}

.button-remove {
  @apply p-0 w-8 ml-8 leading-8 bg-gray-light;
}

label {
  @apply block mb-1;
}

.input {
  @apply block w-full px-4 py-2 bg-white border border-gray;
}
